$light-bg: #ffffff;
$dark-bg: #1f1f1f;
$content-bg: #ebebef;
$text-main-color: #212a34;
$primary-color: #1890ff;
$secondary-color: #13c2c2;
$error-color: #ff4d4f;
$transition-duration: 0.3s;
$border-radius: 6px;
